.header {
  width: 100%;
  height: 80px;
  display: block;
  background-color: #ff6666;
}

.inner_header {
  width: 86%;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.logo_container {
  height: 100%;
  display: table;
  float: left;
}

.logo_container h1 {
  color: white;
  height: 80%;
  display: table-cell;
  vertical-align: middle;
  font-family: monospace;
  font-size: 32px;
  font-weight: 200;
}

.footer {
  width: 100%;
  height: 110px;
  display: block;
  background-color: #ff6666;
}

.inner_footer {
  width: 90%;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.footer_container {
  height: 100%;
  display: table;
  margin: 1% 34.5%;
  text-align: center;
}

.footer_container p {
  color: white;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-family: monospace;
  font-size: 1vw;
  font-weight: 200;
}


@media ( max-width: 920px ) {

  .logo_container h1 {
    color: white;
    height: 80%;
    display: table-cell;
    vertical-align: middle;
    font-family: monospace;
    font-size: 32px;
    font-weight: 200;
  }

  .footer_container p {
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: monospace;
    font-size: 3vw;
    font-weight: 200;
  }

}

@media ( max-width: 600px ) {

  .footer_container p {
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: monospace;
    font-size: 3vw;
    font-weight: 200;
  }
}

@media ( max-width: 480px ) {
  .footer_container p {
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: monospace;
    font-size: 3vw;
    font-weight: 200;
  }
}
